format = "$container$username$hostname$directory$git_branch$git_commit$git_state$git_status$status$character"
add_newline = false

[username]
show_always = true
format = '[$user]($style)'
style_user = 'green'

[hostname]
ssh_only = false
format = '[$ssh_symbol](purple)@[$hostname]($style):'
ssh_symbol = ' ssh '
style = 'green'

[container]
symbol = "*"
style = "blue"
format = " [$symbol $name]($style) "

[character]
success_symbol = "\\$"
error_symbol = "[\\$](red)"
vimcmd_symbol = "[<](green)"

[directory]
read_only = " ro"
style = 'green'
truncation_symbol = '.../'
truncation_length = 2

[git_commit]
tag_symbol = " tag "
style = 'green'

[git_status]
ahead = ">"
behind = "<"
diverged = "<>"
renamed = "r"
deleted = "x"
style = 'red'

[git_branch]
symbol = ''
style = 'purple'

[git_state]
style = 'yellow'

[status]
symbol = "[x](red) "
